#### Import Data Files

In [2]:
%reset -f

In [3]:
import pandas as pd
import numpy as np
import matplotlib.dates as dates
import warnings
warnings.filterwarnings('ignore')

In [4]:
!head /home/jovyan/data/bravoseis_data/Bransfield15m.txt

-63.018497 -059.943047 -928.497
-63.018356 -059.943330 -928.123
-63.018362 -059.943034 -927.180
-63.018216 -059.943612 -927.946
-63.018222 -059.943316 -926.886
-63.018228 -059.943020 -926.361
-63.018081 -059.943599 -926.397
-63.018087 -059.943303 -925.862
-63.018094 -059.943007 -925.699
-63.017941 -059.943881 -926.406

In [5]:
path = '/home/jovyan/data/bravoseis_data/Bransfield15m.txt'

In [13]:
df_z15m = pd.read_csv(path,header = None,sep = ' ', names= ['lat','lon','z15m'])
df_z15m.head()

         lat        lon     z15m
0 -63.018497 -59.943047 -928.497
1 -63.018356 -59.943330 -928.123
2 -63.018362 -59.943034 -927.180
3 -63.018216 -59.943612 -927.946
4 -63.018222 -59.943316 -926.886

In [14]:
from pyproj import Proj

In [15]:
myProj = Proj("+proj=utm +zone=21S, +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs")

In [16]:
UTMx, UTMy = myProj(df_z15m['lon'].values, df_z15m['lat'].values);

In [17]:
df_z15m.insert(3, "UTMx", UTMx, True)
df_z15m.insert(4, "UTMy", UTMy, True)

df_z15m.head()

         lat        lon     z15m           UTMx          UTMy
0 -63.018497 -59.943047 -928.497  351060.020007 -6.991060e+06
1 -63.018356 -59.943330 -928.123  351044.986268 -6.991045e+06
2 -63.018362 -59.943034 -927.180  351059.988979 -6.991045e+06
3 -63.018216 -59.943612 -927.946  351030.008076 -6.991030e+06
4 -63.018222 -59.943316 -926.886  351045.010860 -6.991030e+06