In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (14, 8)

In [2]:
from IPython import display
display.set_matplotlib_formats('retina')

###### Columns: 
###### 1-14   Source Time (GMT)  YYYYDDDHHMMSSS 
###### 16-17   Number of recording hydrophones 
###### 18-32   ID's of recording hydrophones (in order received) 
###### 34-41   Epicenter Latitude  (Degrees, N=+, S=-) 
###### 42-50   Epicenter Longitude (Degrees, E=+, W=-) 
###### 51-57   Estimated error in latitude (degrees) 
###### 58-64   Estimated error in longitude (degrees) 
###### 65-71   Estimated error in source time (seconds) 
###### 72-79   Source Magnitude (dB re 1 micro-Pa @ 1m)

In [3]:
col_names = ['source_time', 'h_count', 'h_id', 'ep_lat', 'ep_lon', 'er_lat', 'er_lon',
        'er_time', 'mdb', 'mdb2','event' ,'notes']

In [9]:
#!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output

In [8]:
!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data_2019090.txt

20190900104148  3             654 -61.848  -56.832  0.632  0.821 55.183  199.89 200.1 IQ
20190900156148  3             654 -62.087  -57.118  0.229  0.244 17.163  197.90 198.1 IQ
20190900207097  3             654 -61.960  -56.979  0.396  0.487 33.282  201.19 201.4 IQ
20190900219500  3             654 -61.959  -56.979  0.397  0.488 33.314  202.00 202.2 IDK
20190900238166  4            6542 -61.988  -56.977  0.219  0.291 18.710  207.18 207.4 IQ
20190900244064  5           23156 -62.700  -59.520  0.012  0.030  0.747  198.14 198.4 IQ
20190900255053  3             653 -62.027  -56.719  0.424  1.108 50.174  206.26 206.2 EQ
20190900259438  4            6542 -62.253  -57.150  0.059  0.035  0.794  199.98 200.3 EQ
20190900336421  3             453 -62.644  -57.246  0.256  0.927 36.403  198.17 198.3 IDK
20190900351049  3             321 -62.519  -59.599  0.029  0.046  1.793  202.83 203.0 IDK

In [10]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/allDays.txt

In [11]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/allDays.txt

20191210839472  3             642 -62.279  -56.893  0.073  1.539 51.215  218.69 218.9 EQ
20191210846581  4            6542 -62.227  -57.133  0.003  0.002  0.128  213.16 213.5 EQ
20191211433307  3             642 -62.310  -57.038  0.357  2.219 58.030  211.05 211.3 IQ
20191230159244  4            6542 -61.968  -55.762  0.068  0.044  0.798  211.03 211.3 EQ_look
20191230207595  4            5643 -62.343  -57.599  0.028  0.034  1.045  199.43 199.7 IQ_look
20190910353210  3             654 -62.127  -57.346  0.123  0.034  6.578  198.17 198.4 EQ
20191200326299  4            4536 -62.447  -58.006  0.015  0.060  0.960  200.67 201.0 EQ
20191200340492  4            4536 -62.427  -58.032  0.014  0.051  0.909  204.44 204.7 EQ -Impulsive Small
20191200340491  6          453621 -62.436  -58.019  0.010  0.033  0.608  207.50 207.8 EQ- RP, IS
20191200344491  6          654321 -62.366  -57.204  0.018  0.034  0.908  208.92 209.3 EQ Impulsive, short duration

In [24]:
#!sed 's/,/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/allDays.txt  > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/ /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/,/ /12g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/Q/Q,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/K/K,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/-/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/_//g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/, /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,  /, no notes/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{4\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{8\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
#!sed -i 's/^\(.\{11\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

2019,0900104148,3,654,61.848,56.832,0.632,0.821,55.183,199.89,200.1,IQ,
2019,0900156148,3,654,62.087,57.118,0.229,0.244,17.163,197.90,198.1,IQ,
2019,0900207097,3,654,61.960,56.979,0.396,0.487,33.282,201.19,201.4,IQ,
2019,0900219500,3,654,61.959,56.979,0.397,0.488,33.314,202.00,202.2,IDK,
2019,0900238166,4,6542,61.988,56.977,0.219,0.291,18.710,207.18,207.4,IQ,
2019,0900244064,5,23156,62.700,59.520,0.012,0.030,0.747,198.14,198.4,IQ,
2019,0900255053,3,653,62.027,56.719,0.424,1.108,50.174,206.26,206.2,EQ,
2019,0900259438,4,6542,62.253,57.150,0.059,0.035,0.794,199.98,200.3,EQ,
2019,0900336421,3,453,62.644,57.246,0.256,0.927,36.403,198.17,198.3,IDK,
2019,0900351049,3,321,62.519,59.599,0.029,0.046,1.793,202.83,203.0,IDK,

In [25]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

2019,1210839472,3,642,62.279,56.893,0.073,1.539,51.215,218.69,218.9,EQ,
2019,1210846581,4,6542,62.227,57.133,0.003,0.002,0.128,213.16,213.5,EQ,
2019,1211433307,3,642,62.310,57.038,0.357,2.219,58.030,211.05,211.3,IQ,
2019,1230159244,4,6542,61.968,55.762,0.068,0.044,0.798,211.03,211.3,EQ,look
2019,1230207595,4,5643,62.343,57.599,0.028,0.034,1.045,199.43,199.7,IQ,look
2019,0910353210,3,654,62.127,57.346,0.123,0.034,6.578,198.17,198.4,EQ,
2019,1200326299,4,4536,62.447,58.006,0.015,0.060,0.960,200.67,201.0,EQ,
2019,1200340492,4,4536,62.427,58.032,0.014,0.051,0.909,204.44,204.7,EQ,Impulsive Small
2019,1200340491,6,453621,62.436,58.019,0.010,0.033,0.608,207.50,207.8,EQ,RP IS
2019,1200344491,6,654321,62.366,57.204,0.018,0.034,0.908,208.92,209.3,EQ,Impulsive short duration

In [70]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt' # use your path

eqs = pd.read_csv(path, sep=',', header=0, names=col_names,
                  dtype = {'source_time':np.str,'h_count': np.float64,'eplat_deg': np.float64, 'eplon_deg': np.float64,
                           'er_lat': np.float64,'er_lon': np.float64,
                           'er_time': np.float64,'M_db': np.float64,
                           'Mdb2': np.float64, 'notes': np.str})
eqs['source_time'].iloc[0][0:4]
eqs.drop_duplicates(subset='source_time', keep='first', inplace=True, ignore_index=False)
eqs.head(10)

,source_time,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
0,20190900156148,3.0,654.0,62.087,57.118,0.229,0.244,17.163,197.90,198.1,IQ,NaN
1,20190900207097,3.0,654.0,61.960,56.979,0.396,0.487,33.282,201.19,201.4,IQ,NaN
2,20190900219500,3.0,654.0,61.959,56.979,0.397,0.488,33.314,202.00,202.2,IDK,NaN
3,20190900238166,4.0,6542.0,61.988,56.977,0.219,0.291,18.710,207.18,207.4,IQ,NaN
4,20190900244064,5.0,23156.0,62.700,59.520,0.012,0.030,0.747,198.14,198.4,IQ,NaN
5,20190900255053,3.0,653.0,62.027,56.719,0.424,1.108,50.174,206.26,206.2,EQ,NaN
6,20190900259438,4.0,6542.0,62.253,57.150,0.059,0.035,0.794,199.98,200.3,EQ,NaN
7,20190900336421,3.0,453.0,62.644,57.246,0.256,0.927,36.403,198.17,198.3,IDK,NaN
8,20190900351049,3.0,321.0,62.519,59.599,0.029,0.046,1.793,202.83,203.0,IDK,NaN
9,20190900352595,6.0,231456.0,62.541,59.579,0.019,0.035,1.151,209.25,209.6,IQ,NaN

In [71]:
eqs['time'] = pd.to_datetime(eqs['source_time'], format='%Y%j%H%M%S%f')

eqs['day'] = eqs['time'].dt.day
eqs['month'] = eqs['time'].dt.month
eqs['year'] = eqs['time'].dt.year

eqs.set_index('time', inplace=True, verify_integrity= True)
eqs.drop('source_time', axis=1, inplace=True)
eqs.head()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes,day,month,year
time,,,,,,,,,,,,,,
2019-03-31 01:56:14.800,3.0,654.0,62.087,57.118,0.229,0.244,17.163,197.90,198.1,IQ,NaN,31,3,2019
2019-03-31 02:07:09.700,3.0,654.0,61.960,56.979,0.396,0.487,33.282,201.19,201.4,IQ,NaN,31,3,2019
2019-03-31 02:19:50.000,3.0,654.0,61.959,56.979,0.397,0.488,33.314,202.00,202.2,IDK,NaN,31,3,2019
2019-03-31 02:38:16.600,4.0,6542.0,61.988,56.977,0.219,0.291,18.710,207.18,207.4,IQ,NaN,31,3,2019
2019-03-31 02:44:06.400,5.0,23156.0,62.700,59.520,0.012,0.030,0.747,198.14,198.4,IQ,NaN,31,3,2019

In [68]:
#eqs['time'].iloc[0].to_julian_date()

jul_days = []
for row in eqs.iterrows():
    jul_days.append(row[1]['time'].to_julian_date())

eqs['julian_date'] =  jul_days

KeyError: 'time'

In [72]:
eqs

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes,day,month,year
time,,,,,,,,,,,,,,
2019-03-31 01:56:14.800,3.0,654.0,62.087,57.118,0.229,0.244,17.163,197.90,198.1,IQ,NaN,31,3,2019
2019-03-31 02:07:09.700,3.0,654.0,61.960,56.979,0.396,0.487,33.282,201.19,201.4,IQ,NaN,31,3,2019
2019-03-31 02:19:50.000,3.0,654.0,61.959,56.979,0.397,0.488,33.314,202.00,202.2,IDK,NaN,31,3,2019
2019-03-31 02:38:16.600,4.0,6542.0,61.988,56.977,0.219,0.291,18.710,207.18,207.4,IQ,NaN,31,3,2019
2019-03-31 02:44:06.400,5.0,23156.0,62.700,59.520,0.012,0.030,0.747,198.14,198.4,IQ,NaN,31,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-01 03:53:21.000,3.0,654.0,62.127,57.346,0.123,0.034,6.578,198.17,198.4,EQ,NaN,1,4,2019
2019-04-30 03:26:29.900,4.0,4536.0,62.447,58.006,0.015,0.060,0.960,200.67,201.0,EQ,NaN,30,4,2019
2019-04-30 03:40:49.200,4.0,4536.0,62.427,58.032,0.014,0.051,0.909,204.44,204.7,EQ,Impulsive Small,30,4,2019
2019-04-30 03:40:49.100,6.0,453621.0,62.436,58.019,0.010,0.033,0.608,207.50,207.8,EQ,RP IS,30,4,2019
2019-04-30 03:44:49.100,6.0,654321.0,62.366,57.204,0.018,0.034,0.908,208.92,209.3,EQ,Impulsive short duration,30,4,2019

In [73]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.csv'

eqs.to_csv(path, sep=',', na_rep='',
                 float_format=None, columns=None, header=True,
                 index=True, index_label=None, mode='w', encoding=None,
                 compression='infer', quoting=None, quotechar='"',
                 line_terminator=None, chunksize=None, date_format=None,
                 doublequote=True, escapechar=None, decimal='.',
                 errors='strict')

In [58]:
!ls /home/jovyan/data/bravoseis_data/

Bransfield15m.txt  SADO			       gmt_files
Elevation.csv	   SEDIMENT_DEPTH_BELOW_0.TXT  noaa_hydroacoustic
MAGNETOMETRO	   __MACOSX		       seismic