In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (14, 8)

In [2]:
from IPython import display
display.set_matplotlib_formats('retina')

###### Columns: 
###### 1-14   Source Time (GMT)  YYYYDDDHHMMSSS 
###### 16-17   Number of recording hydrophones 
###### 18-32   ID's of recording hydrophones (in order received) 
###### 34-41   Epicenter Latitude  (Degrees, N=+, S=-) 
###### 42-50   Epicenter Longitude (Degrees, E=+, W=-) 
###### 51-57   Estimated error in latitude (degrees) 
###### 58-64   Estimated error in longitude (degrees) 
###### 65-71   Estimated error in source time (seconds) 
###### 72-79   Source Magnitude (dB re 1 micro-Pa @ 1m)

In [3]:
col_names = ['source_time', 'h_count', 'h_id', 'ep_lat', 'ep_lon', 'er_lat', 'er_lon',
        'er_time', 'mdb', 'mdb2','event' ,'notes']

In [4]:
#!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output

In [ ]:
#!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data_2019090.txt

In [5]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt

In [6]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt

20192171803300  4            1234 -63.381  -59.671  0.006  0.003  0.451  197.78 198.1 IQ out of network west basin
20192171811306  3             654 -61.732  -57.168  0.907  0.441 68.483  193.12 193.4 IDK LT
20192171913417  3             134 -62.879  -59.900  0.137  0.113  2.307  189.37 189.6 IQ LT
20192172006360  3             123 -62.492  -59.994  0.038  0.063  2.783  206.10 206.3 IDK maybe EQ out of network
20192172052434  3             456 -62.483  -57.654  0.020  0.037  1.148  189.57 189.7 IQ in network NE corner
20192172121257  3             345 -62.497  -58.788  0.091  0.058  1.329  182.12 182.3 IQ LT
20192172123279  3             564 -61.800  -57.755  0.140  0.074  9.862  190.07 190.3 IQ LT
20192172151295  3             435 -63.676  -57.651  0.008  0.109  0.461  195.13 195.4 IQ LT
20192172252084  4            6543 -62.118  -57.048  0.240  0.375 20.506  192.75 193.0 IQ in network NE corner
20192172323321  3             456 -62.490  -57.653  0.021  0.037  1.204  186.70 186.5 IQ in network NE corner

In [13]:
!sed 's/,/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt  > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/ /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e 's/,/ /12g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/Q/Q,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/K/K,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/-/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/_//g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/, /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,  /, no notes/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{4\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{8\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
#!sed -i 's/^\(.\{11\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

20192070148277,3,123,-60.268,-67.821,0.122,0.144,1.075,212.23,212.5,IDK,LT
20192070244133,3,654,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
20192070306482,4,2314,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
20192070322144,3,324,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
20192070327068,3,654,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
20192070334099,4,4325,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin
20192070338509,3,123,-62.919,-60.567,0.190,1.056,38.614,190.10,190.3,IQ,in network SW corner
20192070353466,4,2134,-62.866,-59.530,0.100,0.079,2.519,190.92,191.2,IQ,in network SE network
20192070415502,4,4563,-63.218,-57.205,1.144,1.109,90.671,202.84,203.1,IQ,LT
20192070419346,3,123,-62.443,-60.253,0.056,0.110,4.894,188.25,188.5,IDK,LF signals M1

In [14]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

20192171803300,4,1234,-63.381,-59.671,0.006,0.003,0.451,197.78,198.1,IQ,out of network west basin
20192171811306,3,654,-61.732,-57.168,0.907,0.441,68.483,193.12,193.4,IDK,LT
20192171913417,3,134,-62.879,-59.900,0.137,0.113,2.307,189.37,189.6,IQ,LT
20192172006360,3,123,-62.492,-59.994,0.038,0.063,2.783,206.10,206.3,IDK,maybe EQ out of network
20192172052434,3,456,-62.483,-57.654,0.020,0.037,1.148,189.57,189.7,IQ,in network NE corner
20192172121257,3,345,-62.497,-58.788,0.091,0.058,1.329,182.12,182.3,IQ,LT
20192172123279,3,564,-61.800,-57.755,0.140,0.074,9.862,190.07,190.3,IQ,LT
20192172151295,3,435,-63.676,-57.651,0.008,0.109,0.461,195.13,195.4,IQ,LT
20192172252084,4,6543,-62.118,-57.048,0.240,0.375,20.506,192.75,193.0,IQ,in network NE corner
20192172323321,3,456,-62.490,-57.653,0.021,0.037,1.204,186.70,186.5,IQ,in network NE corner

In [21]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat.txt

In [27]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat.txt' # use your path

eqs = pd.read_csv(path, sep=',', header=0, names=col_names,
                  dtype = {'source_time':np.str,'h_count': np.float64,'eplat_deg': np.float64, 'eplon_deg': np.float64,
                           'er_lat': np.float64,'er_lon': np.float64,
                           'er_time': np.float64,'M_db': np.float64,
                           'Mdb2': np.float64, 'notes': np.str})
eqs['source_time'].iloc[0][0:4]
eqs.drop_duplicates(subset='source_time', keep='first', inplace=True, ignore_index=False)
eqs.head(10)

,source_time,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
0,20192070244133,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
1,20192070306482,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
2,20192070322144,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
3,20192070327068,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
4,20192070334099,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin
5,20192070338509,3.0,123.0,-62.919,-60.567,0.190,1.056,38.614,190.10,190.3,IQ,in network SW corner
6,20192070353466,4.0,2134.0,-62.866,-59.530,0.100,0.079,2.519,190.92,191.2,IQ,in network SE network
7,20192070415502,4.0,4563.0,-63.218,-57.205,1.144,1.109,90.671,202.84,203.1,IQ,LT
8,20192070419346,3.0,123.0,-62.443,-60.253,0.056,0.110,4.894,188.25,188.5,IDK,LF signals M1
9,20192070524482,3.0,432.0,-62.811,-58.070,0.048,0.088,3.596,192.28,192.2,IQ,in network middle

In [28]:
eqs['time'] = pd.to_datetime(eqs['source_time'], format='%Y%j%H%M%S%f')

eqs['day'] = eqs['time'].dt.day
eqs['month'] = eqs['time'].dt.month
eqs['year'] = eqs['time'].dt.year

eqs.set_index('time', inplace=True, verify_integrity= True)
eqs.drop('source_time', axis=1, inplace=True)
eqs.head()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes,day,month,year
time,,,,,,,,,,,,,,
2019-07-26 02:44:13.300,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner,26,7,2019
2019-07-26 03:06:48.200,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin,26,7,2019
2019-07-26 03:22:14.400,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle,26,7,2019
2019-07-26 03:27:06.800,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network,26,7,2019
2019-07-26 03:34:09.900,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin,26,7,2019

In [25]:
eqs['time'].iloc[0].to_julian_date()

jul_days = []
for row in eqs.iterrows():
    jul_days.append(row[1]['time'].to_julian_date())

eqs['julian_date'] =  jul_days

KeyError: 'time'

In [29]:
eqs

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes,day,month,year
time,,,,,,,,,,,,,,
2019-07-26 02:44:13.300,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner,26,7,2019
2019-07-26 03:06:48.200,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin,26,7,2019
2019-07-26 03:22:14.400,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle,26,7,2019
2019-07-26 03:27:06.800,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network,26,7,2019
2019-07-26 03:34:09.900,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin,26,7,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-01 03:53:21.000,3.0,654.0,62.127,57.346,0.123,0.034,6.578,198.17,198.4,EQ,NaN,1,4,2019
2019-04-30 03:26:29.900,4.0,4536.0,62.447,58.006,0.015,0.060,0.960,200.67,201.0,EQ,NaN,30,4,2019
2019-04-30 03:40:49.200,4.0,4536.0,62.427,58.032,0.014,0.051,0.909,204.44,204.7,EQ,Impulsive Small,30,4,2019
2019-04-30 03:40:49.100,6.0,453621.0,62.436,58.019,0.010,0.033,0.608,207.50,207.8,EQ,RP IS,30,4,2019
2019-04-30 03:44:49.100,6.0,654321.0,62.366,57.204,0.018,0.034,0.908,208.92,209.3,EQ,Impulsive short duration,30,4,2019

In [30]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.csv'

eqs.to_csv(path, sep=',', na_rep='',
                 float_format=None, columns=None, header=True,
                 index=True, index_label=None, mode='w', encoding=None,
                 compression='infer', quoting=None, quotechar='"',
                 line_terminator=None, chunksize=None, date_format=None,
                 doublequote=True, escapechar=None, decimal='.',
                 errors='strict')

In [31]:
!ls /home/jovyan/data/bravoseis_data/

Bransfield15m.txt  SADO			       gmt_files
Elevation.csv	   SEDIMENT_DEPTH_BELOW_0.TXT  hawaii_grd.nc
MAGNETOMETRO	   T_00.xyg		       merged_DEM.tif
Orca10m.tiff	   T_00_5x5.txt		       noaa_hydroacoustic
Orca10m.txt	   T_00_grd.nc		       orca.grd
Orca10m_grd.nc	   Zmb15_grid_window.grd       orcaBlockMean.txt
Orca10m_swap.txt   __MACOSX		       orca_grd.nc
Orca10x10.txt	   allDays.txt		       seismic
Orca10x10_s.txt    bransfield.xyz