In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (14, 8)

In [2]:
from IPython import display
display.set_matplotlib_formats('retina')

###### Columns: 
###### 1-14   Source Time (GMT)  YYYYDDDHHMMSSS 
###### 16-17   Number of recording hydrophones 
###### 18-32   ID's of recording hydrophones (in order received) 
###### 34-41   Epicenter Latitude  (Degrees, N=+, S=-) 
###### 42-50   Epicenter Longitude (Degrees, E=+, W=-) 
###### 51-57   Estimated error in latitude (degrees) 
###### 58-64   Estimated error in longitude (degrees) 
###### 65-71   Estimated error in source time (seconds) 
###### 72-79   Source Magnitude (dB re 1 micro-Pa @ 1m)

In [3]:
col_names = ['source_time', 'h_count', 'h_id', 'ep_lat', 'ep_lon', 'er_lat', 'er_lon',
        'er_time', 'mdb', 'mdb2','event' ,'notes']

In [ ]:
#!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output

In [ ]:
#!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data_2019090.txt

In [ ]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt

In [ ]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt

In [ ]:
!sed 's/,/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays.txt  > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/ /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e 's/,/ /12g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/Q/Q,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/K/K,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/-/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/_//g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/, /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,  /, no notes/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{4\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{8\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
#!sed -i 's/^\(.\{11\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

In [ ]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

In [ ]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat.txt

In [4]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat.txt' # use your path

eqs = pd.read_csv(path, sep=',', header=0, names=col_names,
                  dtype = {'source_time':np.str,'h_count': np.float64,'eplat_deg': np.float64, 'eplon_deg': np.float64,
                           'er_lat': np.float64,'er_lon': np.float64,
                           'er_time': np.float64,'M_db': np.float64,
                           'Mdb2': np.float64, 'notes': np.str})
eqs['source_time'].iloc[0][0:4]
eqs.drop_duplicates(subset='source_time', keep='first', inplace=True, ignore_index=False)
eqs.head(10)

,source_time,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
0,20192070244133,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
1,20192070306482,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
2,20192070322144,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
3,20192070327068,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
4,20192070334099,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin
5,20192070338509,3.0,123.0,-62.919,-60.567,0.190,1.056,38.614,190.10,190.3,IQ,in network SW corner
6,20192070353466,4.0,2134.0,-62.866,-59.530,0.100,0.079,2.519,190.92,191.2,IQ,in network SE network
7,20192070415502,4.0,4563.0,-63.218,-57.205,1.144,1.109,90.671,202.84,203.1,IQ,LT
8,20192070419346,3.0,123.0,-62.443,-60.253,0.056,0.110,4.894,188.25,188.5,IDK,LF signals M1
9,20192070524482,3.0,432.0,-62.811,-58.070,0.048,0.088,3.596,192.28,192.2,IQ,in network middle

In [5]:
eqs['time'] = pd.to_datetime(eqs['source_time'], format='%Y%j%H%M%S%f')

eqs.set_index('time', inplace=True, verify_integrity= True)
eqs.drop('source_time', axis=1, inplace=True)
eqs.head()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
time,,,,,,,,,,,
2019-07-26 02:44:13.300,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
2019-07-26 03:06:48.200,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
2019-07-26 03:22:14.400,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
2019-07-26 03:27:06.800,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
2019-07-26 03:34:09.900,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin

In [6]:
eqs.describe()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb
count,5164.000000,5059.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000
mean,131.420023,141540.419252,7660.242725,46.716655,-0.974998,0.408850,10.465888,191.629577
std,9105.307513,204637.032661,58548.961999,34.826621,8.361849,2.101616,20.128944,27.328312
min,3.000000,61.994000,-68.975000,-77.488000,-63.568000,0.000000,0.000000,0.505000
25%,4.000000,2134.000000,62.258000,57.109000,0.025000,0.030000,1.238000,189.920000
50%,5.000000,23456.000000,62.634500,58.064000,0.053000,0.052000,3.007000,194.860000
75%,6.000000,213456.000000,62.960000,59.015250,0.143000,0.181000,8.940250,199.762500
max,654321.000000,654321.000000,654321.000000,79.366000,68.835000,61.273000,207.310000,230.460000

In [8]:
data_dir = '/home/jovyan/data/bravoseis_data'

In [9]:
df_allEvents = pd.read_csv(data_dir + '/noaa_hydroacoustic/seasick_output/eqs.csv',
                  sep=',',index_col='time')
df_allEvents['ep_lat']=df_allEvents['ep_lat']*-1
df_allEvents['ep_lon']=df_allEvents['ep_lon']*-1
df_allEvents.head()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes,day,month,year
time,,,,,,,,,,,,,,
2019-07-26 02:44:13.300,3.0,654.0,62.344,57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner,26,7,2019
2019-07-26 03:06:48.200,4.0,2314.0,63.124,58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin,26,7,2019
2019-07-26 03:22:14.400,3.0,324.0,62.786,58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle,26,7,2019
2019-07-26 03:27:06.800,3.0,654.0,62.450,56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network,26,7,2019
2019-07-26 03:34:09.900,4.0,4325.0,63.001,58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin,26,7,2019

In [10]:
df_allEvents.describe()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,day,month,year
count,5164.000000,5059.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000,5164.000000
mean,131.420023,141540.419252,-7660.242725,-46.716655,-0.974998,0.408850,10.465888,191.629577,15.942874,6.821069,2019.102440
std,9105.307513,204637.032661,58548.961999,34.826621,8.361849,2.101616,20.128944,27.328312,9.703648,2.638261,0.303255
min,3.000000,61.994000,-654321.000000,-79.366000,-63.568000,0.000000,0.000000,0.505000,1.000000,1.000000,2019.000000
25%,4.000000,2134.000000,-62.960000,-59.015250,0.025000,0.030000,1.238000,189.920000,7.000000,6.000000,2019.000000
50%,5.000000,23456.000000,-62.634500,-58.064000,0.053000,0.052000,3.007000,194.860000,15.000000,7.000000,2019.000000
75%,6.000000,213456.000000,-62.258000,-57.109000,0.143000,0.181000,8.940250,199.762500,25.000000,8.000000,2019.000000
max,654321.000000,654321.000000,68.975000,77.488000,68.835000,61.273000,207.310000,230.460000,31.000000,12.000000,2020.000000

In [ ]:
# eqs['time'].iloc[0].to_julian_date()

# jul_days = []
# for row in eqs.iterrows():
#     jul_days.append(row[1]['time'].to_julian_date())

# eqs['julian_date'] =  jul_days

In [13]:
df_eqs1 = df_allEvents.loc[df_allEvents['event'] == 'EQ'].copy()# .copy creates its own dataframe 
cond1 = df_eqs1["ep_lat"] < -62   
cond2 = df_eqs1["ep_lat"] > -63.5
cond3 = df_eqs1["ep_lon"] > -61
cond4 = df_eqs1["ep_lon"] < -56.5

df_eqs1 = df_eqs1[cond1 & cond2 & cond3 & cond4].copy()
df_eqs1.describe()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,day,month,year
count,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000
mean,4.725490,190190.464052,-62.490363,-58.050382,0.098281,0.155709,7.182255,199.180229,14.189542,5.382353,2019.323529
std,1.213235,250761.489771,0.331559,1.033208,0.138406,0.278647,11.329078,7.404021,9.210295,3.446198,0.468589
min,3.000000,123.000000,-63.451000,-60.945000,0.000000,0.000000,0.015000,178.910000,1.000000,1.000000,2019.000000
25%,4.000000,2134.000000,-62.710500,-58.732000,0.025000,0.032000,1.121000,194.670000,5.000000,1.000000,2019.000000
50%,5.000000,45632.000000,-62.381000,-57.758000,0.047500,0.055000,2.846000,198.915000,12.000000,6.000000,2019.000000
75%,6.000000,344541.000000,-62.226250,-57.131500,0.128000,0.163000,8.558000,203.880000,22.000000,8.000000,2020.000000
max,6.000000,654321.000000,-62.027000,-56.607000,1.426000,3.233000,99.999000,225.310000,31.000000,12.000000,2020.000000

In [14]:
df_eqs2 = eqs.loc[df_allEvents['event'] == 'EQ'].copy()# .copy creates its own dataframe 
cond1 = df_eqs2["ep_lat"] < -62   
cond2 = df_eqs2["ep_lat"] > -63.5
cond3 = df_eqs2["ep_lon"] > -61
cond4 = df_eqs2["ep_lon"] < -56.5

df_eqs2 = df_eqs2[cond1 & cond2 & cond3 & cond4].copy()
df_eqs2.describe()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,4.250000,25006.125000,-62.409125,-57.500750,0.194250,0.654125,23.885375,203.090000
std,0.707107,28278.811313,0.326553,1.167403,0.144381,0.666874,22.866354,4.851536
min,3.000000,123.000000,-62.973000,-60.023000,0.022000,0.053000,1.321000,198.810000
25%,4.000000,6421.000000,-62.458750,-57.684500,0.092750,0.242250,9.771250,199.490000
50%,4.000000,6482.000000,-62.298000,-57.055500,0.154000,0.391000,13.113500,200.635000
75%,5.000000,48800.000000,-62.253000,-56.784750,0.288250,0.941250,35.436000,206.772500
max,5.000000,65432.000000,-62.035000,-56.575000,0.408000,2.028000,68.606000,211.910000

In [ ]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.pkl'
eqs.to_pickle(path)

In [ ]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.csv'

eqs.to_csv(path, sep=',', na_rep='',
                 float_format=None, columns=None, header=True,
                 index=True, index_label=None, mode='w', encoding=None,
                 compression='infer', quoting=None, quotechar='"',
                 line_terminator=None, chunksize=None, date_format=None,
                 doublequote=True, escapechar=None, decimal='.',
                 errors='strict')

In [ ]:
!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/